{
  "extends": ["eslint-config-ali"],
  "rules": {
    "no-console": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}
